[user]
	name = FredrikMWold
	email = fredrik.wold@bouvet.no
[core]
	editor = code --wait
[pull]
	rebase = true
[rerere]
	enabled = true
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
